@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-body bg-gray-900 text-white text-xs xl:text-base 2xl:text-xl;
  }
  body {
    @apply overflow-x-hidden;
  }
  h1 {
    @apply text-4xl font-title;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
  span {
    @apply text-red-700;
  }
  button {
    @apply w-auto p-2 border-2 border-black rounded bg-yellow-400  text-black ring-white active:bg-yellow-200 !important;
  }
  th {
    @apply cursor-pointer active:bg-green-300;
  }
  td {
    @apply lg:py-2 lg:px-4;
  }
  label {
    @apply text-black;
  }
  @font-face {
    font-family: Lightsider;
    font-weight: normal;
    font-display: swap;
    src: url('../public/fonts/LightsiderTitle-ORY6.otf') format('truetype');
  }
  @font-face {
    font-family: IstokWeb;
    font-weight: normal;
    font-display: swap;
    src: url('../public/fonts/IstokWeb-Regular.ttf') format('truetype');
  }
}

@layer components {
  .link {
    @apply hover:text-yellow-400 cursor-pointer;
  }
}
